= form_tag({}, id: "searchForm") do
  = hidden_field_tag :latitude, "", id: "searchLatitude", hidden: true
  = hidden_field_tag :longitude, "", id: "searchLongitude", hidden: true

  .row
    .span7.offset1
      = text_field_tag :search, "", id: "searchField"
    .span3
      = label_tag :searchGeocode, "Geocode"
      = label_tag :searchRadius, "Radius (mi)"
    .span1
      = check_box_tag :geocode, "1", false, id: "searchGeocode", disabled: true
      = text_field_tag :radius, "10", id: "searchRadius", disabled: true

  .row
    .span2.offset1
      = submit_tag "Search Tweets", id: "searchSubmit"

#results
